body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
  .navbar-nav {
   .nav-link  {
       color: #071C4D;

       &.active {
           font-weight: bold;
           color: #071C4D !important;
       }
   }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
    
}

.btn-login {
    background-color: #071C4D;
    color: #FFF;


    &:hover {
        background-color: #1E3771;
        color: #FFF;
    }
}

// Header
header {
    margin-top: -68px;
    padding: 180px 0 165px;
    background-image: url('../images/header-background.jpg');
    background-size: cover;

    h1, p {
        color: #FFF;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }

    
    .btn-get-started {
        background-color: #FF9E53;
        color: #FFF;
    
        &:hover {
            background-color: #FFAA69;
            color: #FFF;
        }
    
    }
}

